<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vip.dao.VipRankDao">
  	
  	<select id="select" resultMap="vipRankMap">
  		select * from vip_rank where 
  		${column}=#{value}
  	</select>
  	 <select id="exists" resultType="boolean">
  		select count(*)>0 from vip_rank where 
  		${column}=#{value}
  	</select>
  	
	<select id="selectById" resultMap="vipRankMap">
  		select * from vip_rank where 
  		id=#{id}
  	</select>
  	
  	<select id="selectAll" resultMap="vipRankMap">
  		select * from vip_rank 
  		order by show_order
  	</select>
  	
  	<resultMap type="VipRankEntity" id="vipRankMap">
  		<id column="id" property="id"/>
  	</resultMap>
</mapper>