<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>录入VIP客户消费记录</title>
    <link href="/css/common.css" rel="stylesheet">
    <style>
        form>p{
            min-width: 30em;
        }
    </style>
</head>
<body>
<article>
    <nav>
        <ul class="breadcrumb">
            <li><a href="../list/view.html">VIP消费记录</a></li>
            <li>录入VIP客户消费记录</li>
        </ul>
    </nav>
    <menu>
        <button :disabled="submitButtonDisabled" form="addForm" type="submit">确定</button>
        <a class="btn" href="../list/view.html">返回</a>
    </menu>
    <main>
        <form class="label10em" id="addForm" @submit.prevent="submit">
            <p>
                <label for="mobileEL">*会员手机号：</label>
                <input id="mobileEL" type="text" placeholder="将作为VIP编号" v-model="formdata.vipMobile">
            </p>

            <p>
                <label for="orderIdEL">*关联订单编号：</label>
                <input id="orderIdEL" type="text" v-model="formdata.orderId">
            </p>

            <p>
                <label for="consumeMoneyEL">*消费金额(元)：</label>
                <input id="consumeMoneyEL" type="text" v-model="formdata.consumeMoney">
            </p>

            <p>
                <label class="align-top" for="remarkEL">备注：</label>
                <textarea id="remarkEL" placeholder="不超过100个字" v-model="formdata.remark"></textarea>
            </p>
        </form>
    </main>
</article>
<script src="/js/vue.js"></script>
<script src="/js/axios.min.js"></script>
<script src="/js/yi.toast.js"></script>
<script>
    const app = new Vue({
        el: "body>article",
        data: {
            submitButtonDisabled: false,
            formdata: {

            }
        },
        methods: {
            submit: function () {
                this.submitButtonDisabled = true;
                axios.post("/api/vipconsume", this.formdata)
                    .then(resp => {
                        if (resp.code !== "ok") {
                            toast(resp.message);
                            return;
                        }
                        toast("成功!");
                    }).finally(() => {
                    this.submitButtonDisabled = false;
                });
            }
        }
    });

</script>
</body>
</html>