<!DOCTYPE html>
<html>
<head>
<title>录入VIP客户消费记录</title>
</head>
<body>
    <article>
	<header>
		<h1>录入VIP客户消费记录</h1>
	</header>

	<main>
	 <form >
        <p>
            <label>*会员手机号:<input v-model="formdata.vipMobile"  placeholder="将作为VIP编号"></label>
        </p>
       
        <p>
            <label>*关联订单编号:<input v-model="formdata.orderId" ></label>
        </p>
       
        <p>
            <label>*消费金额(元):<input  v-model="formdata.consumeMoney"></label>
        </p>
        
        <p>
            <label>备注:<textarea v-model="formdata.remark"></textarea></label>
        </p>
        <p>
            <button type="button" :disabled="submitButtonDisabled" @click="submit">确定</button>
         	<a href="javascript:history.back()">返回</a>
        </p>
    </form>
    </main>
    </article>
    <script src="/js/vue.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/yi.toast.js"></script>
    <script>
    	const app=new Vue({
            el:"body>article",
            data:{
                submitButtonDisabled:false,
                formdata:{}
            },
            methods:{
                submit:function () {
                    this.submitButtonDisabled=true;
                    axios.post("/api/vipconsume",this.formdata)
                        .then(resp=>{
                            if(resp.code!=="ok"){
                                toast(resp.message);
                                return;
                            }
                            toast("成功!");
                        }).finally(()=>{

                        this.submitButtonDisabled=false;
                    });
                }
            }
        });

    </script>
</body>
</html>