.layout-vcell {
    display: flex;
    flex-direction: vcell;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.layout-vcell-around{
    display: flex;
    flex-flow: vcell nowrap;
    justify-content: space-around;
    align-items: center;
}

.layout-vcell-between{
    display: flex;
    flex-flow: vcell nowrap;
    justify-content: space-between;
    align-items: center;
}

.layout-vcell > .grow
{
    flex: auto;
}