.layout-hbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}
.layout-hbox-between{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.layout-hbox-around{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
}
.layout-hbox> .grow
{
    flex: auto;
}


