.layout-hcell {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:center;
}
.layout-hcell-between{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items:center;
}

.layout-hcell-around{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items:center;
}
.layout-hcell> .grow
{
    flex: auto;
}


